*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#edf2f7;

    font-family:Arial,Helvetica,sans-serif;

}

.chat-container{

    width:900px;

    margin:30px auto;

    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:0 0 15px rgba(0,0,0,.2);

}

.chat-header{

    background:#0B5ED7;

    color:white;

    padding:20px;

    display:flex;

    align-items:center;

    gap:20px;

}

.logo{

    width:60px;

    height:60px;

    border-radius:50%;

    background:white;

    color:#0B5ED7;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:30px;

}

.chat-header h2{

    margin-bottom:5px;

}

.login-box{

    padding:20px;

    display:flex;

    flex-direction:column;

    gap:10px;

    background:#f8fafc;

}

textarea{

    width:100%;

    height:90px;

    padding:10px;

    resize:none;

}

input{

    padding:12px;

    font-size:16px;

}

button{

    background:#0B5ED7;

    color:white;

    border:none;

    padding:12px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

button:hover{

    background:#084298;

}

.mensajes{

    height:400px;

    overflow-y:auto;

    background:#f5f5f5;

    padding:20px;

}

.mensaje{

    display:flex;

    gap:10px;

    margin-bottom:15px;

}

.avatar{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#0B5ED7;

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-weight:bold;

}

.burbuja{

    background:white;

    padding:12px;

    border-radius:12px;

    width:70%;

    box-shadow:0 2px 5px rgba(0,0,0,.15);

}

.usuario{

    color:#0B5ED7;

    font-weight:bold;

    margin-bottom:5px;

}

.fecha{

    font-size:12px;

    color:gray;

    margin-top:8px;

}

.chat-footer{

    display:flex;

    gap:10px;

    padding:20px;

    background:white;

}

.chat-footer input{

    flex:1;

}